body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: fixed;
    background: #2F323A;
    padding: 20px;
    width: 100%;
    height: 30px;
}
.left_area h3{
    color: #ffffff;
     margin: 0;
     text-transform: uppercase;
     font-size: 22px;
     font-weight: 900;
}
.sidebar{
    background: #2F323A;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;  
    /* overflow-y: scroll;   */
   
}
/* sidebar */
.sidebar .profile_image{
    width: 64px;
    height: 64px;
    border-radius: 100px;
    margin-bottom: 10px;    
}
.sidebar h3{
    color: #cccccc;
    margin-top: 0%;
    margin-bottom: 5px; 
    text-align: center;   
}
.sidebar p{
    color: #cccccc;
    margin-top: 0%;
    margin-bottom: 5px;
    
}
.description {
    color: #cccccc;
    margin-top: 0%;
    margin-bottom: 5px; 
    text-align: center;   
}
.container-1{
    display: flex ;  
}
.container-1 > div { 
    background-color:#2F323A;
    color: #cccccc;  
    margin: 10px;
    padding: 20px;
    font-size: 20px;    
  }
.sidebar1{
    background: #2F323A;
    margin-top: 0px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 50%;  
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 4px;
    background: honeydew;
    display: none;
}
::-webkit-scrollbar-thumb{
background-color: gray;
border-radius: 10px;
}
.sidebar a{
    color: #ffffff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 20px;
    box-sizing: border-box;
    transition: 0.5s; 
    transition-property: background;
}
.sidebar1 p{
    height: 10px;
    color: #ffffff;
    display: block;
    width: 100%;
    line-height: 30px;
    text-decoration: none;
    padding-left: 5px;
    box-sizing: border-box;
    transition: 0.5s; 
    border-top: solid 1px #cccccc;
    transition-property: background;
}
